<!DOCTYPE html>
<html>
<head>
    <title>Add Students</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
<div class="path">
    <a href="/admin">admin panel</a>
</div>
<h1>Delete Students</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<% if (successfulMessage) { %>
    <p class='successful-message'>
        <% var successfuls = successfulMessage.split("\n");
        for (var i = 0; i < successfuls.length; i++) { if (!successfuls[i].length) continue %>
        <%= successfuls[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/admin/delete-students" method="post">
    <label for="startID">Start ID:</label>
    <input type="text" id="startID" name="startID">
    <br><br>
    <label for="endID">End ID:</label>
    <input type="text" id="endID" name="endID">
    <br><br>
    <input type="submit" value="Delete" class="warning">
</form>
</body>
</html>
