<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>
<div class="path">
    <a href="/profile">profile</a> /
    <a href="/courses">courses</a>
</div>
<h1>Add Course</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/courses/add" method="post">
    <label>Course:</label>
    <input type="text" id="searchInput" placeholder="Type here course name and choose from the list"
           onkeyup="searchOptions()">
    <select name="courseSelected" id="courseSelect">
        <option value="">Select Course</option>
        <% for (let i = 0; i < courses.length; i++) { %>
            <option value="<%= courses[i].id %>"><%= courses[i].code %> - <%= courses[i].name %></option>
        <% } %>
    </select>
    <br>
    <label>Grade:</label>
    <input type="text" name="grade"><br>
    <label>Level:</label>
    <input type="text" name="level"><br>
    <label>Semester:</label>
    <input type="text" name="semester"><br>
    <input type="submit" value="Save">
</form>
<script src="../../javascript/addCourse.js"></script>
</body>
</html>
