<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
    <h2>Student Login</h2>
    <form action="/login" method="post">
        <label>Student ID:</label>
        <input type="text" name="id"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
        <div>
            <a href="/register">Create new account</a>
        </div>
    </form>
</div>
</body>
</html>
