<!DOCTYPE html>
<html>
<head>
    <title>Student Database Management</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
<div id="main-container" class="container">
    <h1 id="welcome-header">Welcome to the Student Database Management Website</h1>
    <div id="main-buttons">
        <button id="register-button" onclick="location.href='/register'">Register</button>
        <button id="login-button" onclick="location.href='/login'">Login</button>
    </div>
</div>
</body>
</html>
