<!DOCTYPE html>
<html>
<head>
    <title>Add Students</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<div class="path">
    <a href="/admin">admin panel</a>
</div>
<h1>Edit Students</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<% if (successfulMessage) { %>
    <p class='successful-message'>
        <% var successfuls = successfulMessage.split("\n");
        for (var i = 0; i < successfuls.length; i++) { if (!successfuls[i].length) continue %>
        <%= successfuls[i] %> <br>
        <% } %>
    </p>
<% } %>
<div class="edit-students-container">
    <form action="/admin/edit-students" method="post" class="search-bar">
        <label for="student-ids-range">The range of student IDs:</label>
        <input type="text" name="startID" placeholder="Enter the start ID" pattern="[0-9]+" required>
        <input type="text" name="endID" placeholder="Enter the end ID">
        <hr class="separator">
        <label for="table-name">Table name:</label>
        <select id="tableName" name="tableName" onchange="updateColumnList()">
            <option value="">select table</option>
            <option value="students">students</option>
            <option value="personalData">personalData</option>
            <option value="contactData">contactData</option>
            <option value="academicData">academicData</option>
        </select><br><br>
        <label for="columnName">Column Name:</label>
        <select id="columnName" name="columnName" on="updateTypeList()">
            <option value="">select column</option>
        </select>
        <hr class="separator">
        <label for="update-value">Updated value:</label>
        <input type="text" name="updateValue" placeholder="Enter the updated value" style="flex: 2;">
        <div class="searchButton">
            <button type="submit">Update</button>
        </div>
    </form>
</div>
<script src="../../javascript/admin/edit-students.js"></script>
</body>
</html>
