<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="container">
    <h1>Student Login</h1>
    <% if (warningMessage) { %>
        <p class='warning-message'>
            <% var warnings = warningMessage.split("\n");
            for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
            <%= warnings[i] %> <br>
            <% } %>
        </p>
    <% } %>
    <% if (successfulMessage) { %>
        <p class='successful-message'>
            <% var successfuls = successfulMessage.split("\n");
            for (var i = 0; i < successfuls.length; i++) { if (!successfuls[i].length) continue %>
            <%= successfuls[i] %> <br>
            <% } %>
        </p>
    <% } %>
    <form action="/login" method="post">
        <label>Student ID:</label>
        <input type="text" name="id" placeholder="Enter your ID"><br>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter your password"><br><br>
        <input type="submit" value="Login">
        <div>
            <a href="/register">Create new account</a>
        </div>
    </form>
</div>
</body>
</html>
